*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Caveat', cursive;
    text-align: center;
    color: rgb(15, 2, 2);
    padding-top: 15px;
    
}
header{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-color: rgb(241, 134, 218);
    color: rgba(13, 14, 1, 0.932);
    margin-top: 5px;
    height: 100px;
    padding: 0.2%;
    
}
.nav{
    background-color: rgba(219, 40, 189, 0.589);
    color: rgba(13, 14, 1, 0.932);
    
    text-decoration: none;
    margin: 0.3%;
    padding: 0.3%;
    padding-top: 1px;
    border-radius: 4px;
    font-size: 16px;
    left: 0;

}
footer{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-color: rgb(241, 134, 218);
    color: rgb(15, 2, 2);
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0%;
    bottom: 0%;
    padding: 20px;
    height: 50px;
    margin-top: 0;
}
h4{
    padding-top: 12px;
}

.icon{
    font-size: 20px;
}

label,input{
    font-size: 1.0vw;
}

input[type=text],input[type=password],
input[type=date], input[type=email],
input[type=number], input[type=textarea],
input[type=url]

select{
    width: 80%;
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
    border: 1vw;
    border-radius: 4px;
    box-sizing: border-box;

}

.f2titulo{
    font-size: 26px;
    background-color: #da90d5; 
}
form{
    border-radius: 5px;
    background-color: #da90d5;
    padding: 2%;
    margin: 1% 20%;

}
textarea{
    width: 60%;
}
input[type=submit]:hover{
    background-color: #ee609c;
    
}
input[type=submit]{
    width: 100%;
    background-color: #ee609c;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
img{
    width: 20%;
}